body {
  background-image: linear-gradient(rgb(56, 201, 233,0.5), rgb(223, 223, 53,0.5));
}

h1 {
  font-size: 3em;
  text-align: center;
  color: aquamarine;
}

h3 {
  font-size: 1.5em;
  text-align: center;
  color: cornsilk;
}

section {
  background-color: bisque;
  width: max-content;
  margin: auto;
}

section img {
  height: 300px;
  width: 300px;
  margin: 50px;

}

main div {
  background-image: radial-gradient(rgb(87, 128, 199,0.5),rgb(170, 56, 208,0.5));
  width: max-content;
  padding: 10px;
  margin: auto;
  margin-top: 25px;
  border-radius: 10px;
}

canvas {
  color:red;
}
