body {
  background-image: linear-gradient(purple, blue);
}

h1 {
  font-size: 3em;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  text-align: center;
}

section {
  background-color: bisque;
  width: max-content;
  margin: auto;
}

section img {
  height: 300px;
  width: 300px;
  margin: 50px;

}

main div {
  background-image: radial-gradient(rgb(87, 128, 199),rgb(137, 86, 159));
  width: max-content;
  padding: 10px;
  margin: auto;
  margin-top: 25px;
  border-radius: 10px;
}


